!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title= content_for?(:title) ? yield(:title) : 'Ark::Shorter'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'

  %body

    %nav.navbar.navbar-default
      .container
        .col-md-6.col-xs-12
          = link_to image_tag('logo.svg', height: 35), root_path, class: 'navbar-brand'
        .col-md-6.hidden-xs
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to '[ api_doc ]', docs_path, class: 'btn-navbar'
            %li
              = link_to '[ source ]', 'https://github.com/TeralGoe/ark_shorter', class: 'btn-navbar', target: '_blank'

    .container
      .row
        .col-xs-12
          = yield
